.add-task {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;

    label {
        font-size: 40px;
        font-weight: bold;
    }
    input {
        width: 40%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 26px;
    }

    &__btn-add {
        background-color: #ff4d4d;
        font-size: 24px;
        padding: 10px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #ff1a1a;
        }
    }
}
