.add-task {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }

    input {
        width: 60%;
        padding: 6px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    &__btn-add {
        background-color: #ff4d4d;
        font-size: 16px;
        padding: 10px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #ff1a1a;
        }
        &:active {
            background-color: #e60000;
        }
    }
}
